#line{
  background-color: lightblue;
  width:100%; 
  height:150px;
  text-align: center;
}
#textline
{
  padding-top: 4.8%;
}

.linea1{
  margin: 15%;
  margin-top: 10%;

}
.linea2{
  margin: 15%;
  margin-top: 10%;

}
.linea3{
  margin: 15%;

}